@font-face {
  font-family: 'iconfont';  /* project id 459122 */
  src: url('//at.alicdn.com/t/font_459122_rtw9fxp0opcwstt9.eot');
  src: url('//at.alicdn.com/t/font_459122_rtw9fxp0opcwstt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_459122_rtw9fxp0opcwstt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_459122_rtw9fxp0opcwstt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_459122_rtw9fxp0opcwstt9.svg#iconfont') format('svg');
}
/* layui的选项卡样式 */
.layui-tab{
	margin: 0;
}

body{
	background:rgba(73, 57, 58, 0.5);
}
.layui-nav-side{
	right:0;
	left:auto;
}
.layui-nav-side>li>a>i{
	font-size: 20px;
}
/* 按钮的样式  */
.back-close,.back-open{
	color:#FF5722;
	z-index: 999;
}
.back-open{
	position: fixed;
	right: -200px;
	top:0;
	z-index: 998;
}
.back-close>i,.back-open>i{
	font-size: 24px;
}

/* 所有隐藏的写在这里  */
#imgInput,#dome,#musicInput,#domes,#backInput,#videoInput{
	display: none;
}
/* 导航的样式  */

#pageBtn{
	height:auto;
	white-space:inherit;
}
#pageBtn>li{
	height: 40px;
	width: 100%;
	background: #007AFF;
	margin: 5px 0;
	text-align: center;
	line-height: 40px;
}

.layui-row{
	height: 82%;
	overflow: auto;
	position: relative;
	background: rgba(57,61,73,0.5);
}
/* 编辑器的身体  */
#editor-body{
	position: absolute;
	height: 100%;
	padding: 0;
}

.editor-ul{
	float: left;
	position: relative;
	width: 80%;
	height: 90%;
	border-top:0;
	border-bottom: 0;
	background: #D0CFD8;
}
/*#div{
	height: 100%;background: red;
}*/
.editor-ul>span{
	position: absolute;
	top:-20px;
	left:0px;
	width:auto;
	height: 20px;
	background: red;
	color:wheat;
	border-radius: 0;
	line-height: 20px;
	text-align: center;
}
.editor-ul>li{
	min-height: 40px !important;
	position: absolute;
	width: 100%;
	padding: 10px;
}


/* video */
.videoUl{
	padding: 0 !important;
}

.videoBody{
	width: 100%;
	padding: 0 !important;
	height: 100%;
}

.editor-ul>li:after,#pageBtn:after{
	display: block;
	clear: both;
	content: "";
}
#demo{
	width: 80%;
	min-height: 100px !important;
	background: red;
}
.click-box{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
.editor-ul>li .click-box>.content{
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0;
	padding:0;
	font-size: 24px;
	width: 100%;
	height: 100%;
	min-height: 40px !important;
	min-width: 100px !important;
	line-height: inherit;
}
/* 定义打动的span标签 */

.resize-box{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	min-height: 40px;
	height: 100% !important;
	border:1px solid rgba(9,155,148,.5);
	}
.writing{
	z-index: 990;
}
/* 拖拉框设置最小高度 */

.resize-panel{
	min-height: 40px !important;
	min-width: 100px !important;
}

/* ----------------------------导航条down---------------------------  */
#down-nav{
	height: 9%;
	background-color: #393D49;
}
/*#down-ul{
	height:100%;
	width:100%;
}
#down-ul>li{
	float: left;
	width:20%;
	height: 100%;
	background: #393D49;
}*/
.down-btn{
	width:100%;
	height:100%;
}
.down-btn>div{
	display: flex;
	justify-content: center;
}
.down-btn>div>.icon,.down-btn>div>.layui-icon{
	font-size: 22px;
}
.down-btn {
	color:#E2E2E2;
}
/* 头部按钮Css */
#head-nav{
	height:6%;
	width:100%;
	position:relative;
}
#prompt{
	position: absolute;
	right:0;top:20px;
	color:#fff;
	z-index: 2;
}
.head-ul:after{
	display: block;
	content: " ";
	clear: both;
}
.head-ul>li{
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	background: #393D49;
}
.head-ul>li>div{ 
	font-size: 14px;
	position: absolute;
	top:50%;
	margin-top: -10px;
	color:#F2F2F2;
	text-align: center;
}
.head-ul>li>.icon-body{
	position: inherit;
	margin-top: -14px;
}
.head-ul>li>.icon-body>.icon{
		font-size: 20px;
}
/* swiper */

#page-btn{
	width: 100%;
	height: 2.5%;
	padding: 0.5% 0;
	background:#393D49;
}
#page-btn>div{
	width: 100%;
}
#page-btn>div>span{
	margin:0 5px;
}
.f-anim {
	-webkit-transition: left .2s linear;
}
/* 特效栏 */
#special-body,#down-ul{
	display: none;
	list-style: none !important;
	white-space: nowrap !important;
	overflow-x: scroll !important;
	vertical-align: middle !important;
	background-color: #393D49;
}
#down-ul{
	display: block;
}
#special-body>li,#down-ul>li{
	display: inline-block;
	min-width: 20%;
	padding: 5px;
	height: 100%;
}
#special-body>li>span{
	font-size: 13px;
	text-align: center;
	width:100%;
	height: 100%;
	background: #FFFFFF;
}
#special-body>li>span>.icon{
	font-size: 20px;
}
#editor-body .nw{
	width: 20px;
	height: 20px;
	background: red;
	position: absolute;
	top:-10px;
	left:-10px;
	margin: 0;
	text-align: center;
	border-radius: 50%;
	line-height: 20px;
	background: #59c7f9;
}

#editor-body .nw>i{
	color:white;
}
.swiper-slide{
	background: #1D2D40;
}
